// Colors
@primary-font: 'Tofino', sans-serif;

// Common styles

// Sizes

// Fonts
@font-face {
  font-family: 'Tofino Book';
  src: local('Tofino Book'), local('Tofino-Book'),
    url('../impala/fonts/Tofino-Book.woff2') format('woff2'),
    url('../impala/fonts/Tofino-Book.woff') format('woff'),
    url('../impala/fonts/Tofino-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tofino';
  src: local('Tofino Black'), local('Tofino-Black'),
    url('../impala/fonts/Tofino-Black.woff2') format('woff2'),
    url('../impala/fonts/Tofino-Black.woff') format('woff'),
    url('../impala/fonts/Tofino-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Tofino';
  src: local('Tofino Bold'), local('Tofino-Bold'),
    url('../impala/fonts/Tofino-Bold.woff2') format('woff2'),
    url('../impala/fonts/Tofino-Bold.woff') format('woff'),
    url('../impala/fonts/Tofino-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tofino';
  src: local('Tofino Medium'), local('Tofino-Medium'),
    url('../impala/fonts/Tofino-Medium.woff2') format('woff2'),
    url('../impala/fonts/Tofino-Medium.woff') format('woff'),
    url('../impala/fonts/Tofino-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tofino';
  src: local('Tofino Thin'), local('Tofino-Thin'),
    url('../impala/fonts/Tofino-Thin.woff2') format('woff2'),
    url('../impala/fonts/Tofino-Thin.woff') format('woff'),
    url('../impala/fonts/Tofino-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Tofino';
  src: local('Tofino Light'), local('Tofino-Light'),
    url('../impala/fonts/Tofino-Light.woff2') format('woff2'),
    url('../impala/fonts/Tofino-Light.woff') format('woff'),
    url('../impala/fonts/Tofino-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Tofino Ultra';
  src: local('Tofino Ultra'), local('Tofino-Ultra'),
    url('../impala/fonts/Tofino-Ultra.woff2') format('woff2'),
    url('../impala/fonts/Tofino-Ultra.woff') format('woff'),
    url('../impala/fonts/Tofino-Ultra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tofino';
  src: local('Tofino Regular'), local('Tofino-Regular'),
    url('../impala/fonts/Tofino-Regular.woff2') format('woff2'),
    url('../impala/fonts/Tofino-Regular.woff') format('woff'),
    url('../impala/fonts/Tofino-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  font-family: @primary-font;
}
